<p style="padding-top: 20px;">
  <button (click)="goBack()" class="btn btn-secondary">
    zurück zur Übersicht
  </button>
</p>

<hr />

<h1 class="mt-4">{{ blog_post.title }}</h1>

<p class="lead">
  von
  <a href="#">Admin</a>
</p>

<hr />

<p>Erstellt am {{ blog_post.created_at | date: "dd.MM.yy, h:mm" }}</p>

<hr />

<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="" />

<hr />

<p>
    {{ blog_post.description }}
</p>

<hr />

<div class="card my-4">
  <h5 class="card-header">Kommentar hinzufügen:</h5>
  <div class="card-body">
    <form>
      <div class="form-group">
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div class="mb-4" *ngFor="let comment of blog_post.comments">
  <app-blog-post-comment [comment]="comment"></app-blog-post-comment>
</div>
